@model IEnumerable<AspBlog.Models.Entities.Article>

@{
    ViewData["Title"] = "Seznam clanku";
}

<p class="mt-3">
    <a class="clanky-tlacitko" asp-action="Create">Vytvorit novy</a>
</p>
<ul class="list-group mb-4" id="clanky">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <h2><a asp-action="Details" asp-route-id="@item.Id" class="clanek-odkaz">@item.Title</a></h2>
            <p>@item.Description</p>
            <p>
                <a asp-action="Edit" asp-route-id="@item.Id">Editovat</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Odstranit</a>
            </p>
        </li>
    }
</ul>
 